<head>
    <body>
        <script type="text/javascript">
            hashed = window.location.hash;

            window.location.href = "http://localhost:3000/?"+hashed.substring(1);


        </script>
    </body>
</head>